In [1]:
import cv2
import pandas as pd
from tqdm import tqdm
import os

In [2]:
IMAGE_DIR = "/atlas2/u/jonxuxu/datasets/merged"
CSV_FILE = "/atlas2/u/jonxuxu/datasets/merged.csv"

df = pd.read_csv(CSV_FILE, usecols=["filename"])
df.reset_index(inplace=True, drop=True)
examples = df["filename"]

In [ ]:
# Get broken images
for index in range(len(examples)):
    try:
        path = os.path.join(IMAGE_DIR, examples[index])
        image = cv2.imread(path)
        image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
    except:
        print(examples[index])

In [9]:
# Broken images
broken_images = [
    "25734.tif",
    "25792.tif",
    "37194.tif",
    "37545.tif",
    "37546.tif",
    "42544.tif",
    "42545.tif"
]

In [8]:
# Confirm images are broken
path = os.path.join(IMAGE_DIR, examples[37545])
image = cv2.imread(path)
image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

error: OpenCV(4.7.0) /home/conda/feedstock_root/build_artifacts/libopencv_1674428346434/work/modules/imgproc/src/color.cpp:182: error: (-215:Assertion failed) !_src.empty() in function 'cvtColor'

In [ ]:
import matplotlib.pyplot as plt
plt.imshow(image)

# Remove broken images

In [23]:
df = pd.read_csv(CSV_FILE)
df = df.iloc[:, 1:]

In [24]:
df

,index,filename,lat_1,lon_1,lat_2,lon_2,activity,altitude,lat_mean,lon_mean,year,month,day
0,0,0.tif,13.906780,36.865419,13.904441,36.867757,0.0,834,13.905610,36.866588,2020.0,11.0,1.0
1,1,1.tif,13.904441,36.865419,13.902102,36.867757,0.0,834,13.903272,36.866588,2020.0,11.0,1.0
2,2,2.tif,13.902102,36.865419,13.899764,36.867757,0.0,832,13.900933,36.866588,2020.0,11.0,1.0
3,3,3.tif,13.899764,36.865419,13.897425,36.867757,NaN,834,13.898594,36.866588,2020.0,11.0,1.0
4,4,4.tif,13.897425,36.865419,13.895086,36.867757,NaN,843,13.896256,36.866588,2020.0,11.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157487,157494,157494.tif,11.974289,38.953812,11.971974,38.956163,1.0,1913,11.973132,38.954988,2023.0,1.0,23.0
157488,157495,157495.tif,8.971915,38.778613,8.969601,38.780943,0.0,2298,8.970758,38.779778,2022.0,10.0,31.0
157489,157496,157496.tif,8.930235,38.778638,8.927921,38.780968,0.0,2128,8.929078,38.779803,2022.0,10.0,31.0
157490,157497,157497.tif,8.927924,38.785625,8.925610,38.787955,0.0,2148,8.926767,38.786790,2022.0,10.0,31.0
157491,157498,157498.tif,12.020952,38.994456,12.018637,38.996808,0.0,2140,12.019795,38.995632,2022.0,10.0,28.0

In [17]:
filtered_df = df[~df['filename'].isin(broken_images)]
filtered_df.reset_index(inplace=True)

In [21]:
for index, row in filtered_df.iterrows():
    if int(row["filename"][:-4]) != index:
        print (index)
        break

25734

In [18]:
filtered_df

,index,filename,lat_1,lon_1,lat_2,lon_2,activity,altitude,lat_mean,lon_mean,year,month,day
0,0,0.tif,13.906780,36.865419,13.904441,36.867757,0.0,834,13.905610,36.866588,2020.0,11.0,1.0
1,1,1.tif,13.904441,36.865419,13.902102,36.867757,0.0,834,13.903272,36.866588,2020.0,11.0,1.0
2,2,2.tif,13.902102,36.865419,13.899764,36.867757,0.0,832,13.900933,36.866588,2020.0,11.0,1.0
3,3,3.tif,13.899764,36.865419,13.897425,36.867757,NaN,834,13.898594,36.866588,2020.0,11.0,1.0
4,4,4.tif,13.897425,36.865419,13.895086,36.867757,NaN,843,13.896256,36.866588,2020.0,11.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157487,157494,157494.tif,11.974289,38.953812,11.971974,38.956163,1.0,1913,11.973132,38.954988,2023.0,1.0,23.0
157488,157495,157495.tif,8.971915,38.778613,8.969601,38.780943,0.0,2298,8.970758,38.779778,2022.0,10.0,31.0
157489,157496,157496.tif,8.930235,38.778638,8.927921,38.780968,0.0,2128,8.929078,38.779803,2022.0,10.0,31.0
157490,157497,157497.tif,8.927924,38.785625,8.925610,38.787955,0.0,2148,8.926767,38.786790,2022.0,10.0,31.0
157491,157498,157498.tif,12.020952,38.994456,12.018637,38.996808,0.0,2140,12.019795,38.995632,2022.0,10.0,28.0

In [22]:
filtered_df.to_csv("/atlas2/u/jonxuxu/datasets/merged.csv")