FINALLY we are going to reorganize our dataset. We will move all our images into /merged. We will rename the images, and create a master CSV (merged_labels.csv). And we will store information about the geographic areas, in shapefiles in /image_region_shp.

So far we have merged:
- skysat_clip_512_4326_cogs_attempt_2
- tigray_skysat_batch_2_23
- tigray_skysat_batch_2_24
- blue_west_central
- blue_north
- sudan_clip
- eithiopia_clip
- eritrea_clip
- black_north
- blue_central
- black_south

To do list:
- amhara_skysat_all_clip

In [ ]:
from google.colab import drive
import pandas as pd
import os
import shutil

In [ ]:
# Load the Drive helper and mount
# This will prompt for authorization.
drive.mount('/content/drive')

# Note: the path file is hardcoded to the location of the /ethiopia folder in my Google Drive.
FOLDER_PATH = "/content/drive/MyDrive/Projects/Harvest Pile/ethiopia/skysat dataset" #jonathan
# FOLDER_PATH = "/content/drive/MyDrive/ethiopia/skysat dataset" #jonathan 2

Mounted at /content/drive

In [ ]:
# merged_df = pd.read_csv(os.path.join(FOLDER_PATH, "merged_labels.csv"))
merged_df = new_df

In [ ]:
merged_df = merged_df.iloc[:, 1:]

In [ ]:
merged_df

,filename,lat_1,lon_1,lat_2,lon_2,activity,altitude,lat_mean,lon_mean,year,month,day
0,0.tif,13.906780,36.865419,13.904441,36.867757,0.0,834,13.905610,36.866588,2020.0,11.0,1.0
1,1.tif,13.904441,36.865419,13.902102,36.867757,0.0,834,13.903272,36.866588,2020.0,11.0,1.0
2,2.tif,13.902102,36.865419,13.899764,36.867757,0.0,832,13.900933,36.866588,2020.0,11.0,1.0
3,3.tif,13.899764,36.865419,13.897425,36.867757,NaN,834,13.898594,36.866588,2020.0,11.0,1.0
4,4.tif,13.897425,36.865419,13.895086,36.867757,NaN,843,13.896256,36.866588,2020.0,11.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
77529,77529.tif,13.609217,38.927841,13.606903,38.930208,NaN,1674,13.608060,38.929025,2022.0,4.0,2.0
77530,77530.tif,13.611532,38.927840,13.609218,38.930208,NaN,1724,13.610375,38.929024,2022.0,4.0,2.0
77531,77531.tif,13.569864,38.925487,13.567550,38.927854,NaN,1642,13.568707,38.926670,2022.0,4.0,2.0
77532,77532.tif,13.572179,38.925486,13.569865,38.927853,NaN,1597,13.571022,38.926669,2022.0,4.0,2.0
77533,77533.tif,13.574494,38.925485,13.572180,38.927852,NaN,1607,13.573337,38.926669,2022.0,4.0,2.0

In [ ]:
start_idx = len(merged_df)

In [ ]:
src_df = pd.read_csv(os.path.join(FOLDER_PATH, "dec_feb_blue_central.csv"))

In [ ]:
src_df = src_df.iloc[:, 1:]

In [ ]:
src_df

,filename,lat_1,lon_1,lat_2,lon_2,activity,lat_mean,lon_mean,year,month,day,altitude
0,20201214_081059_ss01_u0001_visual_clip/2020121...,13.610415,38.971476,13.608100,38.973842,NaN,13.609258,38.972659,2020,12,14,1821
1,20201214_081059_ss01_u0001_visual_clip/2020121...,13.645137,38.971471,13.642823,38.973839,NaN,13.643980,38.972655,2020,12,14,1846
2,20201214_081059_ss01_u0001_visual_clip/2020121...,13.730785,38.973829,13.728471,38.976197,NaN,13.729628,38.975013,2020,12,14,2014
3,20201214_081059_ss01_u0001_visual_clip/2020121...,13.742359,38.973828,13.740045,38.976196,NaN,13.741202,38.975012,2020,12,14,1936
4,20201214_081059_ss01_u0001_visual_clip/2020121...,13.709952,38.971464,13.707637,38.973831,NaN,13.708795,38.972647,2020,12,14,1965
...,...,...,...,...,...,...,...,...,...,...,...,...
3511,20210216_102945_ssc14_u0001_visual_clip/202102...,13.609963,38.862296,13.607649,38.864664,NaN,13.608806,38.863480,2021,2,16,1710
3512,20210216_102945_ssc14_u0001_visual_clip/202102...,13.579870,38.862313,13.577556,38.864681,NaN,13.578713,38.863497,2021,2,16,1625
3513,20210216_102945_ssc14_u0001_visual_clip/202102...,13.674779,38.864626,13.672465,38.866994,NaN,13.673622,38.865810,2021,2,16,1782
3514,20210216_102945_ssc14_u0001_visual_clip/202102...,13.586814,38.862309,13.584501,38.864677,NaN,13.585658,38.863493,2021,2,16,1662
3515,20210216_102945_ssc14_u0001_visual_clip/202102...,13.598388,38.862303,13.596075,38.864671,NaN,13.597232,38.863487,2021,2,16,1703

Move and rename files to new folder

In [ ]:
IMG_PATH = os.path.join(FOLDER_PATH, "blue_central", "dec_feb_blue_central")
DEST_FOLDER = os.path.join(FOLDER_PATH, "merged")
for index, row in src_df.iterrows():
  src_path = os.path.join(IMG_PATH, row["filename"])
  dest_path = os.path.join(DEST_FOLDER, str(index + start_idx) + ".tif")
  # print(src_path)
  # print(dest_path)
  # break
  try:
    shutil.move(src_path, dest_path)
    src_df.at[index, "filename"] = str(index + start_idx) + ".tif"
  except Exception as e:
    print(e)
  if index % 100 == 0:
    print(index)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500

In [ ]:
src_df

,filename,lat_1,lon_1,lat_2,lon_2,activity,lat_mean,lon_mean,year,month,day,altitude
0,77534.tif,13.610415,38.971476,13.608100,38.973842,NaN,13.609258,38.972659,2020,12,14,1821
1,77535.tif,13.645137,38.971471,13.642823,38.973839,NaN,13.643980,38.972655,2020,12,14,1846
2,77536.tif,13.730785,38.973829,13.728471,38.976197,NaN,13.729628,38.975013,2020,12,14,2014
3,77537.tif,13.742359,38.973828,13.740045,38.976196,NaN,13.741202,38.975012,2020,12,14,1936
4,77538.tif,13.709952,38.971464,13.707637,38.973831,NaN,13.708795,38.972647,2020,12,14,1965
...,...,...,...,...,...,...,...,...,...,...,...,...
3511,81045.tif,13.609963,38.862296,13.607649,38.864664,NaN,13.608806,38.863480,2021,2,16,1710
3512,81046.tif,13.579870,38.862313,13.577556,38.864681,NaN,13.578713,38.863497,2021,2,16,1625
3513,81047.tif,13.674779,38.864626,13.672465,38.866994,NaN,13.673622,38.865810,2021,2,16,1782
3514,81048.tif,13.586814,38.862309,13.584501,38.864677,NaN,13.585658,38.863493,2021,2,16,1662
3515,81049.tif,13.598388,38.862303,13.596075,38.864671,NaN,13.597232,38.863487,2021,2,16,1703

In [ ]:
len(os.listdir("/content/drive/MyDrive/Projects/Harvest Pile/ethiopia/skysat dataset/blue_central/march_april_blue_central"))

1

Merge dataframes

In [ ]:
new_df = merged_df.append(src_df, ignore_index=True)

<ipython-input-53-fa9394891b67>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = merged_df.append(src_df, ignore_index=True)

In [ ]:
new_df

,filename,lat_1,lon_1,lat_2,lon_2,activity,altitude,lat_mean,lon_mean,year,month,day
0,0.tif,13.906780,36.865419,13.904441,36.867757,0.0,834,13.905610,36.866588,2020.0,11.0,1.0
1,1.tif,13.904441,36.865419,13.902102,36.867757,0.0,834,13.903272,36.866588,2020.0,11.0,1.0
2,2.tif,13.902102,36.865419,13.899764,36.867757,0.0,832,13.900933,36.866588,2020.0,11.0,1.0
3,3.tif,13.899764,36.865419,13.897425,36.867757,NaN,834,13.898594,36.866588,2020.0,11.0,1.0
4,4.tif,13.897425,36.865419,13.895086,36.867757,NaN,843,13.896256,36.866588,2020.0,11.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
81045,81045.tif,13.609963,38.862296,13.607649,38.864664,NaN,1710,13.608806,38.863480,2021.0,2.0,16.0
81046,81046.tif,13.579870,38.862313,13.577556,38.864681,NaN,1625,13.578713,38.863497,2021.0,2.0,16.0
81047,81047.tif,13.674779,38.864626,13.672465,38.866994,NaN,1782,13.673622,38.865810,2021.0,2.0,16.0
81048,81048.tif,13.586814,38.862309,13.584501,38.864677,NaN,1662,13.585658,38.863493,2021.0,2.0,16.0
81049,81049.tif,13.598388,38.862303,13.596075,38.864671,NaN,1703,13.597232,38.863487,2021.0,2.0,16.0

In [ ]:
has_piles = new_df.loc[new_df['has_piles'].notnull()]

In [ ]:
new_df.to_csv("out.csv")
!cp "out.csv" "/content/drive/MyDrive/Projects/Harvest Pile/ethiopia/skysat dataset/merged_labels.csv"

# Quality Assurance
We move straggling images in folders. We remove fake rows from the df. We re-index and rename images in the folder and df

Fixing straggling images

In [ ]:
image_folder = os.path.join(FOLDER_PATH, "old/skysat_clip_512_4326_cogs_attempt_2")
print(len(os.listdir(image_folder)))

65

In [ ]:
image_folder = os.path.join(FOLDER_PATH, "blue_west_central/20230128_072033_ssc2_u0003_visual")
files = list(os.listdir(image_folder))
missing_df = src_df[src_df["filename"].str.contains('|'.join(files))]

Remove missing images

In [ ]:
merged_df = pd.read_csv(os.path.join(FOLDER_PATH, "merged_labels.csv"))
merged_df = merged_df.iloc[:, 1:]

In [ ]:
merged_df[merged_df["activity"] == 1]

,filename,lat_1,lon_1,lat_2,lon_2,activity,altitude,lat_mean,lon_mean,year,month,day
184,184.tif,13.868805,36.870401,13.866466,36.872739,1.0,801,13.867635,36.871570,2020.0,11.0,1.0
213,213.tif,13.861789,36.875078,13.859451,36.877416,1.0,797,13.860620,36.876247,2020.0,11.0,1.0
214,214.tif,13.859451,36.875078,13.857112,36.877416,1.0,791,13.858281,36.876247,2020.0,11.0,1.0
240,240.tif,13.859451,36.879755,13.857112,36.882093,1.0,800,13.858281,36.880924,2020.0,11.0,1.0
396,396.tif,13.826154,36.880058,13.823815,36.882396,1.0,784,13.824984,36.881227,2020.0,11.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
49707,49707.tif,14.323569,38.481515,14.325889,38.483884,1.0,1444,14.324729,38.482700,2023.0,1.0,16.0
49714,49714.tif,14.312001,38.483916,14.314321,38.486284,1.0,1478,14.313161,38.485100,2023.0,1.0,16.0
52444,52444.tif,13.306696,39.066981,13.309011,39.069345,1.0,1581,13.307854,39.068163,NaN,NaN,NaN
52863,52863.tif,13.576126,38.720935,13.578443,38.723298,1.0,1473,13.577285,38.722117,NaN,NaN,NaN
52941,52941.tif,13.652519,38.725579,13.654837,38.727944,1.0,1286,13.653678,38.726761,NaN,NaN,NaN

In [ ]:
IMG_FOLDER = os.path.join(FOLDER_PATH, "merged")
filenames = os.listdir(IMG_FOLDER)

In [ ]:
filtered_df = merged_df[merged_df["filename"].isin(filenames)]

In [ ]:
len(filtered_df)

58683

Remove duplicate rows

In [ ]:
columns_to_check = ['lat_1', 'lon_1', 'lat_2', "lon_2", "year", "month", "day"]

In [ ]:
duplicates = filtered_df[filtered_df.duplicated(subset=columns_to_check)]

In [ ]:
filtered_df.drop(duplicates.index, axis=0,inplace=True)

<ipython-input-91-e41998500e98>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop(duplicates.index, axis=0,inplace=True)

In [ ]:
len(filtered_df)

58680

Reset Index

In [ ]:
filtered_df = filtered_df.reset_index(drop=True)

In [ ]:
filtered_df

,filename,lat_1,lon_1,lat_2,lon_2,activity,altitude,lat_mean,lon_mean,year,month,day
0,0.tif,13.906780,36.865419,13.904441,36.867757,0.0,834,13.905610,36.866588,2020.0,11.0,1.0
1,1.tif,13.904441,36.865419,13.902102,36.867757,0.0,834,13.903272,36.866588,2020.0,11.0,1.0
2,2.tif,13.902102,36.865419,13.899764,36.867757,0.0,832,13.900933,36.866588,2020.0,11.0,1.0
3,3.tif,13.899764,36.865419,13.897425,36.867757,NaN,834,13.898594,36.866588,2020.0,11.0,1.0
4,4.tif,13.897425,36.865419,13.895086,36.867757,NaN,843,13.896256,36.866588,2020.0,11.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
58675,58680.tif,12.699015,39.561599,12.701325,39.563962,NaN,2343,12.700170,39.562780,2023.0,1.0,27.0
58676,58681.tif,12.659662,39.561513,12.661972,39.563875,NaN,1894,12.660817,39.562694,2023.0,1.0,27.0
58677,58682.tif,12.731423,39.561670,12.733733,39.564033,NaN,2215,12.732578,39.562852,2023.0,1.0,27.0
58678,58683.tif,12.687441,39.561574,12.689751,39.563936,NaN,2401,12.688596,39.562755,2023.0,1.0,27.0
58679,58684.tif,12.712904,39.561629,12.715214,39.563993,NaN,2415,12.714059,39.562811,2023.0,1.0,27.0

Rename images

In [ ]:
for index, row in filtered_df.iterrows():
  old_name = os.path.join(IMG_FOLDER, row["filename"])
  new_name = os.path.join(IMG_FOLDER, str(index) + ".tif")
  if old_name != new_name:
    # print(old_name)
    # print(new_name)
    # break
    os.rename(old_name, new_name)
    filtered_df.at[index, "filename"] = str(index) + ".tif"
  if index % 1000 == 0:
    print(index)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000

In [ ]:
filtered_df.iloc[28067]

filename    28181.tif
lat_1       13.656727
lon_1       37.777706
lat_2       13.659053
lon_2       37.780061
activity          NaN
altitude          884
lat_mean     13.65789
lon_mean    37.778884
year             2023
month               1
day                28
Name: 28067, dtype: object

In [ ]:
filtered_df[filtered_df["activity"] == 1]

,filename,lat_1,lon_1,lat_2,lon_2,activity,altitude,lat_mean,lon_mean,year,month,day
184,184.tif,13.868805,36.870401,13.866466,36.872739,1.0,801,13.867635,36.871570,2020.0,11.0,1.0
213,213.tif,13.861789,36.875078,13.859451,36.877416,1.0,797,13.860620,36.876247,2020.0,11.0,1.0
214,214.tif,13.859451,36.875078,13.857112,36.877416,1.0,791,13.858281,36.876247,2020.0,11.0,1.0
240,240.tif,13.859451,36.879755,13.857112,36.882093,1.0,800,13.858281,36.880924,2020.0,11.0,1.0
396,396.tif,13.826154,36.880058,13.823815,36.882396,1.0,784,13.824984,36.881227,2020.0,11.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
49704,49704.tif,14.323569,38.481515,14.325889,38.483884,1.0,1444,14.324729,38.482700,2023.0,1.0,16.0
49711,49711.tif,14.312001,38.483916,14.314321,38.486284,1.0,1478,14.313161,38.485100,2023.0,1.0,16.0
52441,52441.tif,13.306696,39.066981,13.309011,39.069345,1.0,1581,13.307854,39.068163,NaN,NaN,NaN
52860,52860.tif,13.576126,38.720935,13.578443,38.723298,1.0,1473,13.577285,38.722117,NaN,NaN,NaN
52938,52938.tif,13.652519,38.725579,13.654837,38.727944,1.0,1286,13.653678,38.726761,NaN,NaN,NaN

In [ ]:
filtered_df.to_csv("out.csv")
!cp "out.csv" "/content/drive/MyDrive/ethiopia/skysat dataset/merged_labels.csv"